/*初始化*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    /*图片间距处理*/
    vertical-align: top;
}
html, body{
    width: 100%;
    height: 100%;
}
.page{
    width: 100%;
    /*内容撑开*/
    height: auto;
    /*为吸顶效果预留空间*/
    padding-top: 48px;
}
/*头部样式*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background-color: #fff;
    z-index: 999;
}
.header .header-inner{
    width: 1244px;
    height: 100%;
    margin: 0 auto;
}
.header .header-inner .header-left{
    float: left;
    width: 435px;
    height: 28px;
    margin-top: 10px;
}
.header .header-inner .header-left li{
    float: left;
    margin-right: 20px;
}
.header .header-inner .header-left li a{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: 28px;
    font-size: 14px;
    color: #444444;
}
.header .header-inner .header-left li a:hover{
    color: #c90000;
}
.header .header-inner .header-left li:nth-child(7) a{
    font-size: 25px;
    line-height: 14px;
}
.header .header-inner .header-left .new{
    width: 30px;
    height: 14px;
    font-size: 12px;
    margin-top: 6px;
    margin-left: 2px;
    color: #fff;
    background-color: #f4a523;
    display: inline-block;
    line-height: 12px;
}
.header .header-inner .header-left .logo-pic a{
    width: 80px;
    height: 28px;
    display: inline-block;
    background: url("../images/logo.svg") 0 0 no-repeat;
}
/*顶部中间搜索栏*/
.header .header-inner .header-center {
    float: left;
    width: 675px;
    height: 34px;
    margin-top: 7px;
}
.header .header-inner .header-center input{
    width: 100%;
    height: 100%;
    padding: 5px;
    font-size: 14px;
    box-sizing: border-box;
    outline: none;
    background-color: #fafafa;
    border: 1px solid #ddd;
}
.header .header-inner .header-right{
    float: right;
    width: 116px;
    height: 48px;
}
.header .header-inner .header-right a {
    float: right;
    width: 52px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: #383838;
    border: 1px solid #d9d9d9;
    margin-top: 7px;
    font-size: 16px;
    border-radius: 2px;
}
.header .header-inner .header-right a:nth-child(1){
    float: left;
    /*渐变色*/
    background: linear-gradient(#E53E49, #D43636);
    color: #fff;
    border: 1px solid #c90000;
}
.header .header-inner .header-right a:nth-child(1):hover{
    background-color: #E53E49 ;
}
/*轮播广告*/
.slider-banner{
    width: 100%;
    height: 60px;
}
.slider-banner ul{
    position: relative;
    width: 100%;
    height: 60px;
}
.slider-banner ul li{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
}
.slider-banner ul li a{
    width: 100%;
    height: 100%;
    display: inline-block;
}
.slider-banner ul li a:nth-child(1){
    background: url("https://hbimg-other.b0.upaiyun.com/img/promotion/3a5458d81406a4e622a2d6c4d54067a55592ffa7e7f9") center center;
}
.slider-banner ul li a:nth-child(2){
    background: url("https://hbimg-other.b0.upaiyun.com/img/promotion/3a5458d81406a4e622a2d6c4d54067a55592ffa7e7f9") center center;
}
.slider-banner ul li a:nth-child(3){
    background: url("https://hbimg-other.b0.upaiyun.com/img/promotion/3a5458d81406a4e622a2d6c4d54067a55592ffa7e7f9") center center;
}
.slider-banner ul li a:nth-child(4){
    background: url("https://hbimg-other.b0.upaiyun.com/img/promotion/3a5458d81406a4e622a2d6c4d54067a55592ffa7e7f9") center center;
}
.slider-banner ul li a:nth-child(5){
    background: url("https://hbimg-other.b0.upaiyun.com/img/promotion/3a5458d81406a4e622a2d6c4d54067a55592ffa7e7f9") center center;
}
.slider-banner ul li a:nth-child(6){
    background: url("https://hbimg-other.b0.upaiyun.com/img/promotion/3a5458d81406a4e622a2d6c4d54067a55592ffa7e7f9") center center;
}
.slider-banner ul li a:nth-child(7){
    background: url("https://hbimg-other.b0.upaiyun.com/img/promotion/3a5458d81406a4e622a2d6c4d54067a55592ffa7e7f9") center center;
}
/*快速登录*/
.quick-login{
    width: 100%;
    height: 120px;
    /*background: url("../images/logo.svg") center center;*/
}
.quick-login-in{
    width: 1244px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #000000;
}
/*伸缩布局*/
.quick-login .quick-login-in .intro{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    background-color: #1D7AD9;
}
.quick-login .quick-login-in .intro .title{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
}
.quick-login .quick-login-in .login_icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quick-login .quick-login-in .login_icon li{
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
}
.quick-login .quick-login-in .login_icon li a{
    width: 54px;
    height: 54px;
    display: inline-block;
}
.quick-login .quick-login-in .login_icon li:nth-child(1) a{
    background: url("../images/login_icons_tiny.svg") 0 -80px;
}
.quick-login .quick-login-in .login_icon li:nth-child(2) a{
    background: url("../images/login_icons_tiny.svg") -80px -80px ;
}
.quick-login .quick-login-in .login_icon li:nth-child(3) a{
    background: url("../images/login_icons_tiny.svg") -160px -80px;
}
.quick-login .quick-login-in .login_icon li:nth-child(4) a{
    background: url("../images/login_icons_tiny.svg") -240px -80px;
}
.quick-login .quick-login-in .login_icon .tip-text{
    position: relative;
}
.quick-login .quick-login-in .login_icon .tip-text .line-left{
    position: absolute;
    top: 14px;
    left: -40px;
    width: 40px;
    border-top: 1px solid black;
    display: block;
}
.quick-login .quick-login-in .login_icon .tip-text .line-right{
    position: absolute;
    top: 14px;
    right: -40px;
    width: 40px;
    border-top: 1px solid black;
    display: block;
}
/*吸顶效果*/
.top-nav{
    position: fixed;
    left: 0;
    /*header的高度*/
    top: 48px;
    width: 100%;
    height: 70px;
    display: none;
    background-color: rgba(0, 0, 0, .5);
}
.top-nav .top-in{
    width: 1244px;
    margin: 0 auto;
    height: 100% ;
}
.top-nav .top-in>div{
    width: 350px;
    height: 100%;
    color: #fff;
}
.top-nav .top-in .top-nav-left{
    float: left;
}
.top-nav .top-in .top-nav-left p:nth-child(1){
    font-size: 24px;
    font-weight: 700;
    margin-top: 10px;
}
.top-nav .top-in .top-nav-right{
    float: right;
    padding-top: 15px;
    box-sizing: border-box;
}
.top-nav .top-in .top-nav-right ul li{
    float: left;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin-left:8px;
}
.top-nav .top-in .top-nav-right ul li a{
    width: 42px;
    height: 42px;
    display: inline-block;
}
.top-nav .top-in .top-nav-right li:nth-child(1){
    width: 138px;
    font-size: 14px;
    line-height: 42px;
}
.top-nav .top-in .top-nav-right ul li:nth-child(2) {
    background: url("../images/login_icons_tiny.svg") 0 -95px;
    background-size: 230px 135px;
}
.top-nav .top-in .top-nav-right ul li:nth-child(3) {
    background: url("../images/login_icons_tiny.svg")  -100px -95px;
    background-size: 230px 135px;
}
.top-nav .top-in .top-nav-right ul li:nth-child(4) {
    background: url("../images/login_icons_tiny.svg")  -150px -95px;
    background-size: 230px 135px;
}
.top-nav .top-in .top-nav-right ul li:nth-child(5) {
    background: url("../images/login_icons_tiny.svg")  -280px -95px;
    background-size: 230px 135px;
}
/*选项卡部分*/
/*选项卡顶部title*/
.type-title{
    width: 100%;
    height: 130px;
}
.type-title .type-title-in{
    position: relative;
    width: 230px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    line-height: 130px;
    font-size: 30px;
    color: #666;
}
.type-title .type-title-in .line-left,
.type-title .type-title-in .line-right{
    position: absolute;
    top: 65px;
    width: 48px;
    border: 1px solid #666;
}
.type-title .type-title-in .line-left{
    left: 15px;
}
.type-title .type-title-in .line-right{
    right: 15px;
}
/*选项卡主体*/
.tab{
    width: 100%;
    height: auto;
}
.tab .tab-header{
    width: 300px;
    height: 48px;
    margin: 0 auto;
}
.tab .tab-header ul li{
    float: left;
    width: 100px;
    line-height: 47px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}
.tab .tab-header ul .current{
    border-bottom: 1px solid orangered;
    color: orangered;
}
.tab .tab-cont{
    width: 100%;
    background: #181818;
}
.tab .tab-cont .item:nth-child(1){
    width: 100%;
    background: #c90000;
}
.tab .tab-cont .item:nth-child(2){
    width: 100%;
    background: #1D7AD9;
}
.tab .tab-cont .item:nth-child(3){
    width: 100%;
    background: #ff9c01;
}
.tab .tab-cont .item{
    display: none;
}


